Dockerfile
README.md
LICENSE
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

.git/
.gitignore
.idea/

cloud_sql_proxy_auth_key.json
db_migrate.py
dev_runner.sh
sqlproxy.sh
gcloud_deploy.sh
secrets_TEMPLATE.ini