{% extends 'layout.html' %}

{% block styles %}
    {% if team %}
    .team-color {
        color: #{{ team.color }};
    }
    {% endif %}

    .range-table {
        text-align: center;
        border: 1px solid black;
        margin-bottom: 1em;
    }

    .range-table > caption {
        text-align: left;
        font-weight: bold;
    }

    .range-table > thead {
        font-weight: bold;
    }

    .range-table > tr {
        border: 1px solid black;
    }

    .range-table td {
        min-width: 3em;
        border: 1px solid black;
        padding: .25em;
    }

    .range-table .left {
        text-align: left;
        padding-right: 2em;
        padding-right: 2em;
    }
{% endblock %}

{% block content %}
    <p class="back-links">
        <a href="{{ url_for('index_bp.index') }}">Home</a> &#8594;
        {% if team %}
        <a href="{{ url_for('index_bp.teams') }}">Team list</a> &#8594;
        <a href="{{ url_for('index_bp.team', team_abbr=player.team) }}">{{ player.team }}</a>
        {% else %}
            FA/Draftee
        {% endif %}
    </p>

    <h2 class="team-color">{{ player.playerName }}</h2>

    <table class="range-table">
        <caption>Batting Ranges</caption>
        <thead><tr>

            <th>HR</th>
            <th>3B</th>
            <th>2B</th>
            <th>1B</th>
            <th>BB</th>
            <th>FO</th>
            <th>K</th>
            <th>PO</th>
            <th>RGO</th>
            <th>LGO</th>
        </tr></thead>

        <tr>
            {% for range in player.get_batting_ranges() %}
                <td>{{ range }}</td>
            {% endfor %}
        </tr>
    </table>

    {% if player.pitchType != None %}
        <table class="range-table">
            <caption>Pitching Ranges</caption>
            <thead><tr>
                <th class="left"></th>
                <th>HR</th>
                <th>3B</th>
                <th>2B</th>
                <th>1B</th>
                <th>BB</th>
                <th>FO</th>
                <th>K</th>
                <th>PO</th>
                <th>RGO</th>
                <th>LGO</th>
            </tr></thead>

            {% for set in player.get_pitching_ranges() %}
                <tr>
                    {% if loop.first %}
                        <td class="left">Neutral Ranges</td>
                    {% endif %}
                    {% if loop.last %}
                        <td class="left"> + Hand Bonus ({{ player.pitchBonus[:1] }})</td>
                    {% endif %}
                    {% for range in set %}
                        <td>{{ range }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            <tr></tr>
        </table>
    {% endif %}
{% endblock %}