{% extends 'layout.html' %}

{% block styles %}
    {% for team in teams %}
        .{{ team.abb }} {
            color: #{{ team.color }};
        }
    {% endfor %}

    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));

        margin-bottom: 5em;
    }

    .team-link {

    }

{% endblock %}

{% block content %}

    {% for leeg in leegs %}
    <h1 class="leeg-head">{{ leeg.leeg_name }}</h1>

        <div class="grid">
            {% for (key, team) in leeg.items() %}
                {% if key != 'leeg_name'  %}
                    <div class="team-link">
                        <a href="/team/{{ team.abb }}" class="{{ team.abb }}">
                            <img src="{{ team.logo_url }}" alt="{{ team.name }} logo" height="100px"><br />
                            {{ team.name }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
